html
{
	font-family: sans-serif;
	color: darkslategray;
}

h2
{
	margin: 2%;
	font-size: 100%;
}

h3
{
	font-size: 90%;
}

.centered
{
	text-align: center;
}

#navBar
{
	background-color: lightblue;
	/* defining the nav bar as a flex container */
	display: grid;
	/* 5 columns per row as a default */
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.navBarHeadings, .navBarHeadings:link, 
.navBarHeadings:visited, .navBarHeadings:hover, 
.navBarHeadings:active 
{
	text-decoration: none;
	color: darkslategray;
}

.navBarHeadings:hover, 
.navBarHeadings:active 
{
	font-size: 110%;
}

.blueBorder
{
	border: 1px solid darkblue;
}

.curved
{
	border-radius: 15px 15px 15px 15px;
}

#daysWrapper
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color: lightblue;
	padding: 3%;
}


.daysInMonthA, .daysInMonthA:link, 
.daysInMonthA:visited, .daysInMonthA:hover,
.daysInMonthA:active, .chMonth
{
	margin: 2%;
	text-decoration: none;
	padding: 4%;
	background-color: skyblue;
}

.chMonth
{
	margin: 0.5%;
	padding: 1%;
}

.greyButt:hover
{
	background-color: lightgrey;
}

.greyButt:active
{
	background-color: grey;
}

.formButt
{
	background-color: lightblue;
}

#addEventFormWrapper
{
	background-color: skyblue;
	position: absolute;
	margin-top: -450px;
	margin-left: 30%;
	margin-right: auto;
}

#addWalk
{
	padding: 3%;
	margin: 1%;
	display: grid;
	grid-template-columns: 1fr 4fr;
}
